.slider {
    height: 400px;
    background-color: rgba(0, 0, 0, 0.2);    
    border-bottom: 1px solid #ffffff;
}

.slider .container {
    position: relative;
}
.slider {
    text-align: center;
    line-height: 400px;
    color: #ffffff;
    font-size: 100px;
    font-weight: 300;
    letter-spacing: 10px;
}

.slider .container::before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    border-left: 2px solid white;
    border-top: 2px solid white;
    position: absolute;
    transform-origin: left top;
    top: 50%;
    left: 0;
    transform: rotate(-45deg);
    cursor: pointer;
}

.slider .container::after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    border-right: 2px solid white;
    border-top: 2px solid white;
    position: absolute;
    transform-origin: right top;
    top: 50%;
    right: 0;
    transform: rotate(45deg);
    cursor: pointer;
}

.device-filter {
    width: 100%;
    height: 845px;
    border-right: 1px solid white;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px 30px;
}

.device-filter h2 {
    text-transform: uppercase;
    color: white;
    font-size: 21px;
    font-weight: 400;
}

.products-section {
    color: white;
}

.navigation {
    padding-top: 29px;
    padding-left: 29px;
    opacity: 0.5;
}

.navigation p span {
    text-decoration: underline;
}

.title-bar h2 {
    padding-left: 29px;
    margin-top: 23px;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.sort {
    margin-top: 25px;
    width: 100%;
    height: 40px;
    border: 1px solid white;
    position: relative;
    cursor: pointer;
}

.sort p {
    line-height: 40px;
    padding-left: 20px;
    font-size: 21px;
    font-weight: 300;
}

.sort:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 1.5px solid white;
    border-left: 1.5px solid white;
    position: absolute;
    transform-origin: center;
    top: 10px;
    right: 13px;
    transform: rotate(-45deg);
    transition: 0.3;
}

.sort:hover p{
    background-color: rgba(255, 255, 255, 0.75);
    color: #2c71b8;
    transition: 0.3s;
}
.sort:hover:after {
    border-color: #2c71b8;
    transition: 0.3s;
}

.col-33 {
    width: 33.33%;
    padding-left: 30px;
}
.col-66 {
    width: 66.66%;
}

.product-card {
    width: 100%;
    border: 1px solid white;
    margin-top: 30px;
}

.product-logo {
    width: 100%;
    height: 180px;
    border-bottom: 1px solid white;
    background-color: rgba(255, 255, 255, 0.6);
    position: relative;
}
.product-logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.product-logo__fullscreen {
    width: 30px;
    height: 30px;
    border: 1px solid #2c71b8;
    background-image: url(../images/fullscreen.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.product-logo__fullscreen:hover {
    background-color: #2c71b8;
    background-image: url(../images/fullscreen_white.png);
    transition: 0.3s;
}

.product-logo__favorite {
    width: 30px;
    height: 30px;
    border: 1px solid #2c71b8;
    background-image: url(../images/favorite.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 40px;
    right: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.product-logo__favorite:hover {
    background-color: #2c71b8;
    background-image: url(../images/favorite_white.png);
    transition: 0.3s;
}

.product-title {
    font-size: 30px;
    font-weight: 700;
    margin: 15px;
    width: 220px;
}

.product-description {
    font-size: 21px;
    font-weight: 100;
    margin-top: 15px;
}

.product-characteristics {
    font-size: 21px;
    font-weight: 100;
    margin-top: 15px;
}

.product-characteristics span {
    text-transform: uppercase;
    font-weight: 700;
}

.product-price {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    position: relative;
    margin: 30px;
}

.product-price span {
    font-size: 21px;
    position: absolute;
}

.product-button {
    text-align: center;
}
.product-button button{
    text-transform: uppercase;
    width: 210px;
    height: 50px;    
    border: 1px solid #ffffff;
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.product-button .button1 {
    margin-bottom: 10px;
    background-color: #2c71b8;
    transition: 0.3s;
}
.product-button .button1:hover {
    background-color: white;
    color: #2c71b8;
    transition: 0.3s;
}

.product-button .button2 {
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    position: relative;
    transition: 0.3s;
}

.product-button .button2::after {
    content: '';
    width: 15px;
    height: 15px;
    background-image: url(../images/bin_white.png);
    position: absolute;
    right: 20px;
    top: 15px;
    transition: 0.3s;
}

.product-button .button2:hover {
    background-color: white;
    color: #2c71b8;
    transition: 0.3s;
}
.product-button .button2:hover:after {
    background-image: url(../images/bin_blue.png);
    transition: 0.3s;
}

.more {
    display: block;
    width: calc(100% - 30px);
    text-align: center;
    margin: 20px 0;
    padding: 10px 0;
    font-size: 36px;
    font-weight: 300;
    cursor: pointer;
    float: right;
    transition: 0.3s;
}

.more:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #2c71b8;
    transition: 0.3s;
}