* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../images/patt.png);
}

.header {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

[class*='col-'] {
    float: left;
}

.row:after, 
.menu:after, 
.search-bar:after,
.bin:after {
    content: '';
    display: block;
    clear: both;
}

.col-md-3 {
    width: 25.6%;
}

.col-md-6 {
    width: 48.8%;
}

.logo {
    margin-top: 8px;
} 

.menu > li {
    float: left;
    width: 25%;    
    position: relative;
}

.menu li:last-child {
    border-right: 1px solid #2c71b8;
}

.menu a {
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #2c71b8;
    font-size: 21px;
    font-weight: 300;
    border-left: 1px solid #2c71b8;
}

.menu > li:nth-child(2) > a {
    position: relative;
}

.menu > li:nth-child(2) > a:after {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-right: 1.5px solid #2c71b8;
    border-bottom: 1.5px solid #2c71b8;
    transform: rotate(45deg);
    position: absolute;
    top: 21px;
    right: 10%;
}

.menu > li:nth-child(2) > a:hover:after {
    border-color: white;
}

.submenu {
    visibility: hidden;
    opacity: 0;
    margin: 0px;
    padding-left: 0px;
    position: absolute;
    text-align: left;
    padding: 25px 0;
    background-color: #2c71b8;
    width: 201%;
    cursor: pointer;
}

.submenu li a{
    text-align: left;
    color: white;
    height: 40px;
    font-size: 21px;
    font-weight: 300;
    line-height: 40px;
    padding-left: 31px;
    border: none;    
}

.menu li:hover > ul {
    visibility: visible;
    opacity: 1; 
}
.menu a:hover, .menu > li:hover a {
    background-color: #2c71b8;
    color: white;
}
.menu > li:hover a:after {
    border-color: white;
} 

.submenu li a:hover {
    background-color: white;
    color: #2c71b8;
}

.menu a, 
.menu a:hover,
.menu > li:nth-child(2) > a:after,
.menu > li:nth-child(2) > a:hover:after,
.menu li:hover > ul,
.submenu,
.submenu li a:hover  {
    transition: 0.3s;
}

.col-80 {
    width: 80%;
}
.col-20 {
    width: 20%;
}

.search-bar {
    display: block;
    float: left;
    width: 200px;
    height: 40px;
    border: 1px solid #2c71b8;
    margin-top: 5px;
    margin-left: 30px;
    padding: 0;
    line-height: 40px;
}

.search-icon {
    width: 30px;
    height: 30px;
    background-color: #2c71b8;
    float: right;
    margin: 4px;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.search-bar input[type="text"] {
    border: none;
    width: 80%;
    padding-left: 20px;
    margin-top: 5px;
    color: #2c71b8;
    font-size: 21px;
    font-weight: 300;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
}

::-webkit-input-placeholder {
    color: #2c71b8;
}

.bin {
    position: relative;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    float: right;
    background-color: white;
    text-align: center;
    background-image: url(../images/bin_blue.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.bin::before {
    content: "4";
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #2c71b8;
    color: white;
    position: absolute;
    top: -10px;
    left: -10px;
    line-height: 20px;
    font-size: 12px;
    font-weight: 400;
}

