* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../images/patt.png);
    min-width: 1170px;
}

.popup-window {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(0, 0, 0, .7);
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}

.popup-message {
    width: 400px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popup-message p {
    height: 100px;
    width: 100%;
    line-height: 20px;
    font-size: 18px;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-button {
    width: 50%;
    height: 50px;
    background-color: #2c71b8;
    text-align: center;
    line-height: 48px;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    transition: .3s;
    border: 1px solid #2c71b8;
}

.popup-button:hover {
    background-color: white;
    color: #2c71b8;
    border-color: #2c71b8;
}
.visible {
    visibility: visible !important;
    opacity: 1 !important;
}

.bin-message-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.bin-message-buttons .popup-button {
    width: 48%;
}

.white-hover {
    background-color: white !important;
    color: #2c71b8 !important;
    border-color: #2c71b8 !important;
}

/* SLIDER */
/* Слайдер */
.slider {
    min-width: 0;
    position: relative;
    background-color: rgba(0, 0, 0, .1);
    border-bottom: 1px solid white;
}
.slider-block {
    position: relative;
    padding: 0 30px;
}
.slider-block > div {
    height: 400px;
    color: white;
    font-size: 100px;
    text-align: center;
    font-weight: 100;
    line-height: 400px;
    letter-spacing: 5px;
    user-select: none;
}
.slick-slider {}
/* Слайдер запущен */
.slick-slider.slick-initialized {}
/* Слайдер с точками */
.slick-slider.slick-dotted {}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track {
    display: flex;
}
/* Слайд */
.slick-slide {}
/* Слайд активный (показывается) */
.slick-slide.slick-active {}
/* Слайд основной */
.slick-slide.slick-current {}
/* Слайд по центру */
.slick-slide.slick-center {}
/* Клонированный слайд */
.slick-slide.slick-cloned {}
/* Стрелка */
.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 0;
    outline: none;
    background-color: transparent;
    border: transparent;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
    left: 0;
}
.slick-arrow.slick-prev {
    display: block;
    width: 30px;
    height: 30px;
    border-left: 2px solid white;
    border-top: 2px solid white;
    position: absolute;
    transform-origin: left top;
    top: 50%;
    left: 0;
    transform: rotate(-45deg);
    cursor: pointer;
}
/* Стрелка вправо */
.slick-arrow.slick-next {
    right: 0;
}
.slick-arrow.slick-next {
    display: block;
    width: 30px;
    height: 30px;
    border-right: 2px solid white;
    border-top: 2px solid white;
    position: absolute;
    transform-origin: right top;
    top: 50%;
    right: 0;
    transform: rotate(45deg);
    cursor: pointer;
} 
/* Стрелка не активная */
.slick-arrow.slick-disabled {}
/* Точки (булиты) */
.slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.slick-dots li {
    list-style: none;
    margin: 0 10px;
}
.slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    outline: none;
    border: 1px solid white;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}
/* Активная точка */
.slick-dots li.slick-active button {
    background-color: white;
}
/* Элемент точки */
.slick-dots li button {}