* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../images/patt.png);
}

.header {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

[class*='col-'] {
    float: left;
}

.row:after {
    content: '';
    display: block;
    clear: both;
}

.col-md-3 {
    width: 25%;
}

.col-md-6 {
    width: 50%;
}

.logo {
    margin-top: 8px;
}
